header {
    height: 10%;
    width: 100%;
}
.header-text {
    background-color: #0b345a;
    color: #36d8ea;
    height: 100%;
}

.text {
    font-weight: bold;
    font-size: xx-large;
    padding-top: 3%;
    text-align: center;
    vertical-align: middle;
}