.card {
    background-color: lightgrey;
    border: 1%;
    margin-top: 2%;
}

.card-header {
    font-weight: bolder;
    font-size: large;
}

.card-content {
    font-style: italic;
}

.coding-icon {
    height: 40px;
    width: 40px;
}

body {
 background-color: #0B345A;
}
