
<app-header></app-header>



<!-- <body>
  <mat-card class="card" >
    <mat-card-header class="card-header"> About me</mat-card-header>
    <mat-card-content class="card-content">
      <p> My name is a Cody Reichard, I am a full stack engineer based in Dayton, OH.
      In Addition to my passion for software engineering and solving problems,
      I enjoy watching cleveland sports and spending time with freinds and family.</p>

      <p> I graduated from Wright State University in 2017 with a Bachelors of Science in Computer Science. My passion for technology and computers began when
        I was a child as i was always tinkering with out home computer. </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="card" >
    <mat-card-header class="card-header"> Skills</mat-card-header>
    <mat-card-content class="card-content">
      <ul>
        <li>
          <img class="coding-icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/csharp/csharp-original.svg" />
        </li>
        <li><img class="coding-icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg" /></li>
        <li>
          <img class="coding-icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" />
        </li>
        <li>
          <img class="coding-icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-original.svg" />
        </li>

        <li>
          <img class="coding-icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original.svg" />
        </li>

        <li>
          <img class="coding-icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" />
        </li>
        <li>
          <img class="coding-icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-original.svg" />
        </li>
      </ul>

      <mat-grid-list cols="2" rowHeight="1:.5">
        <mat-grid-tile style="background-color: aquamarine;">1</mat-grid-tile>
        <mat-grid-tile>2</mat-grid-tile>
        <mat-grid-tile>3</mat-grid-tile>
        <mat-grid-tile>4</mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
  </mat-card>


</body> -->
